############################################
# CONFIGURAÇÕES DO MONGODB
# NOME DE USUÁRIO E SENHA
############################################
MONGO_USERNAME=
MONGO_PASSWORD=
############################################
# CONFIGURAÇÕES DO RABBITMQ
# NOME DE USUÁRIO E SENHA
############################################
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

############################################
# AUTENTICACAO INTERNA GO WORKER -> API
# Use uma string aleatoria com pelo menos 32 caracteres
############################################
WORKER_API_TOKEN=

