services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: willianDev
      MONGO_INITDB_ROOT_PASSWORD: WillianDev2025Secure

  api-nest:
    build:
      context: ./services/api-nest
      dockerfile: Dockerfile.dev
    container_name: api-nest
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./services/api-nest/.env

    volumes:
      - ./services/api-nest:/app
    depends_on:
      - mongodb

volumes:
  mongo_data:
