node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

dist/
build/


coverage/
.nyc_output/
test/

.npm/
.eslintcache
.node_repl_history
*.tsbuildinfo

.env
.env.*
!.env.example
*.key
*.pem

.git/
.gitignore
.gitattributes


Dockerfile*
docker-compose*.yml
.dockerignore


.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


*.log
logs/


README.md
docs/
*.md
!README.md


.github/
.gitlab-ci.yml
.circleci/
.travis.yml


.editorconfig
.prettierrc
.prettierignore
.eslintrc.js
nest-cli.json
tsconfig*.json
!tsconfig.json


.history/
.cache/
tmp/
temp/